.pageContent__heading= @page_title = 'Issues'
%p.u-intro.u-margin-2x
  If anything goes wrong and it wasn't planned, it's an issue. You can add issues
  which occur straight into here and they'll be published on your status site
  straight away.

.largeCreateButtonContainer.u-margin-2x
  = link_to "Post a new issue", new_admin_issue_path, :class => 'button button--green button--solid'

- if @ongoing_issues.empty?
  .noDataArea.noDataArea--large
    Well that's just brilliant - you've got no ongoing issues!
- else
  = render 'issue_boxes', :issues => @ongoing_issues

%p.u-align-right= link_to "Show resolved issues", resolved_admin_issues_path, :class => 'button button--lightGrey button--small'
