@import 'default/variables';
.ongoingIssues {
  margin-bottom:15px;
}

.issueBanner {
  background:#333;
  display:block;
  border-radius:6px;
  text-decoration: none;
  padding:13px 17px;
  color:#fff;
  margin-bottom:15px;
  &:last-child {margin-bottom:0;}
}

.issueBanner--investigating { background:$investigatingColor;}
.issueBanner--identified { background:$identifiedColor;}
.issueBanner--monitoring { background:$monitoringColor;}
.issueBanner--maintenance { background:#fff7d6; color:#77745e;}

.issueBanner__state {
  float:right;
  font-weight:600;
  font-size:12px;
  margin-left:15px;
}

.issueBanner__time {
  font-size:12px;
  opacity:0.7;
}
