.subscriberVerification__title {
  font-size:35px;
  font-weight:700;
  letter-spacing:-0.02em;
  line-height:38px;
  margin-bottom:15px;
}

.subscriberVerification__intro {
  font-size:18px;
  line-height:30px;
  margin-bottom:25px;
  b {
    background-color:#fffbdc;
  }
}

.subscriberVerification__back {
  font-size:14px;
  color:#999;
}
