[data-tooltip] {
  position: relative;

  &:after,
  &:before {
    pointer-events: none;
    transition: all .1s cubic-bezier(0.250, 0.250, 0.485, 1.650);
  }

  &:after {
    background-color: #2b3034;
    bottom: calc(100% + 14px);
    color: #ffffff;
    content: attr(data-tooltip);
    font-size: 12px;
    line-height: 1.5;
    left: 50%;
    line-height: 1.5;
    min-width: 164px;
    opacity: 0;
    padding: 12px;
    position: absolute;
    margin-left: -64px;
    transform: translateY(-10px);
    visibility: hidden;
  }

  &:before{
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #2b3034;
    bottom: 100%;
    content: " ";
    left: 50%;
    margin-left: -7px;
    opacity: 0;
    position: absolute;
    transform: translateY(-10px);
    visibility: hidden;
  }

  &:hover {
    &:after,
    &:before {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}
