.issueDetail {
  overflow: hidden;
}

.issueDetail__title {
  font-size:35px;
  font-weight:700;
  letter-spacing:-0.02em;
  line-height:38px;
  margin-bottom:7px;
}

.issueDetail__date {
  font-size:13px;
  color:#999;
  margin-bottom:30px;
}

.issueDetail__descriptionTitle {
  font-weight:700;
  margin-bottom:15px;
}

.issueDetail__description {
  line-height:24px;
  margin-bottom:25px;
}

.issueDetail__details {
  line-height:24px;
  margin-bottom:40px;
  dt { font-weight:700; margin-bottom:15px; float:left; width:40%;}
  dd { margin-bottom:15px; }
  dd:last-child { margin-bottom:0; }
}

.issueDetail__services {
  background:#fff7d6;
  width:220px;
  float:right;
  font-size:13px;
  padding:15px 20px;
  border-radius:4px;
  margin-left:25px;
  p {
    font-weight:bold;
    margin-bottom:5px;
  }
  li {
    list-style:square;
    margin-left:16px;
  }
}

@media (max-width: 750px) {
  .issueDetail__services {
    float:none;
    width:100%;
    margin-left:0;
    margin-bottom:25px;
  }
}

@media (max-width: 600px) {
  .issueDetail__details {
    dt {
      float:none;
      width:100%;
      margin-bottom:10px;
    }
  }
}

@media (max-width: 470px) {
  .issueDetail__title {
    font-size:25px;
    line-height:30px;
  }
}
