%h1.pageContent__heading= @page_title = 'Create a Maintenance Session'
%p.u-intro.u-margin-2x
  A maintenance session is a period of time when you are carrying out activities
  on your infrastructure which may have an impact on your service.

= render 'form'
