@import 'admin/variables';

.flashMessage {
  position:fixed;
  width:350px;
  background: $darkGrey;
  z-index:600;
  padding:15px 25px;
  right:0;
  top:0;
  color:#fff;
  line-height:$globalLineHeight;
  font-weight:$fontWeightMedium;
  border-radius:5px;
  margin: 15px 15px 0 0;
  cursor:pointer;
}

.flashMessage--notice {
  background-color:$green;
}

.flashMessage--alert {
  background-color:$red;
}

.errorExplanation {
  border:3px solid $red;
  padding:15px;
  margin-bottom:15px;
  background:$lightRed;
  color:$red;
  border-radius:$globalBorderRadius;
  h2 {
    font-weight:$fontWeightBold;
    margin-bottom:10px;
  }
  p { display:none;}
  ul {
    li {
      list-style:square;
      margin-left:35px;
    }
  }
}
