@import 'admin/variables';

.globalSidebar {
  position:fixed;
  background:$grey;
  width:220px;
  top:0;
  bottom:0;
  left:0;
}

.globalSidebar__logo {
  padding:15px 25px;
  color:#666;
  background:$red;
  margin-bottom:15px;
  color:#fff;
}

.globalSidebar__nav {
  li a {
    display:block;
    padding:5px 25px;
    color:#fff;
    font-size:14px;
    text-decoration: none;
    &:hover {
      opacity:0.7;
    }
    &:active {
      opacity:0.6;
    }
  }
}
