@import 'admin/variables';

.globalSidebar {
  position:fixed;
  background:$grey;
  width:220px;
  top:0;
  bottom:0;
  left:0;
}

.globalSidebar__version {
  float:right;
  color:#fff;
  opacity:0.5;
  font-size:12px;
  margin-top:23px;
  margin-right:25px;
}

.globalSidebar__logo {
  display:block;
  padding:23px 25px;
  color:#666;
  background:image-url('logo-white.svg') $red no-repeat 25px 20px;
  margin-bottom:15px;
  color:#fff;
  background-size:90px;
  text-indent:-40000px;
}

.globalSidebar__nav {
  li a {
    display:block;
    padding:5px 25px;
    color:#fff;
    font-size:14px;
    margin-bottom:3px;
    text-decoration: none;
    &.active {
      background:darken($grey, 5%);
    }
  }
  li li a{
    padding-left:45px;
    opacity:0.7;
  }
}

.globalSidebar__nav--subNav {
  margin-top:20px;
  li a {
    font-size:12px;
    margin-bottom:0;
    opacity:0.5;
  }
}

.globalSidebar__count {
  float:right;
  color:#fff;
  z-index:2000;
  background:$red;
  font-size:11px;
  font-weight:$fontWeightBold;
  padding:1px 6px;
  margin-right:20px;
  margin-top:6px;
  border-radius:4px;
}

.globalSidebar__count--maintenance {
  background-color:$darkBlue;
}
