@import 'admin/variables';

.issueUpdates {

}

.issueUpdates__item {
  border-bottom:1px dashed #ccc;
  padding-bottom:15px;
  margin-bottom:15px;
}

.issueUpdates__item:last-child {
  margin-bottom:0;
  border-bottom:0;
  padding-bottom:0;
}

.issueUpdates__meta {
  font-size:12px;
  color:#888;
  margin-top:10px;
}

.issueUpdates__status {
  font-size:11px;
  float:right;
  margin-top:8px;
}

.issueUpdates__header {
  margin-bottom: 10px;
}

.issueUpdates__edit {
  margin-left:8px;
}

$issueStates: (
  "investigating": $red,
  "identified": $orange,
  "monitoring": $blue,
  "resolved": #666
);

@each $status, $color in $issueStates {
  .issueUpdates__statusColor--#{$status} {
    color: $color;
  }
}
