$sansFontFamily: "Open Sans", sans-serif;
$fixedFontFamily: "Droid Sans Mono", "Courier New", Courier, fixed;

$darkGrey: #464f54;
$blue: #068FD6;
$darkBlue: #0A80BE;
$lightBlue: #F4F6FA;
$greyBlue: #C7D6DE;
$darkGreyBlue: #9bacb5;

$lightYellow: #fffbdc;
$lighterYellow: #fffded;
$lightGreen: #F6FAEC;
$lightPurple: #f7f2fb;
$lightRed: #fdf1f1;
$lightOrange: #fff1e0;

$grey: #2B3034;
$purple: #9F6FC1;
$green: #6CBE07;
$red: #EA5746;
$orange: #ee8600;
$brown: #777563;
$yellow: #FDBB2C;
$lime: #C1D64A;

$topBarHeight: 160px;
$globalMaxWidth:1000px;
$globalMinWidth:800px;

$fontWeightLight: 300;
$fontWeightNormal: normal;
$fontWeightMedium: 600;
$fontWeightBold: 700;

$globalLineHeight: 1.7;
$globalBorderRadius: 5px;
