# Database configuration for Staytus.
#
# By default, Staytus works with a MySQL database. While
# it may work with other engines, they are untested and
# currently unsupported. You can make changes to this file
# to specify the database to connect to.

default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: staytus
  password:
  database: staytus
  host: 127.0.0.1

production:
  <<: *default

development:
  <<: *default
