/*
 *= require reset
 *= require_tree .
 *= require_self
 */

@import 'admin/variables';

html { font-family:$sansFontFamily; font-size:14px; -webkit-font-smoothing:antialiased;}
a { color:inherit; text-decoration: none;}
.u-margin { margin-bottom:15px;}
.u-margin-top { margin-top:15px;}
.u-margin-2x { margin-bottom:30px;}
.u-margin-top-2x { margin-top:30px;}
.u-intro { line-height:24px; font-size:14px; color:#888; }
.u-underline { text-decoration: underline;}
.u-align-right { text-align:right; }
.u-float-left { float:left; }
.u-float-right { float:right; }
.u-subText { font-size:13px;}

hr { border-width:1px; border-color:#efefef;}
