/*
 *= require reset
 *= require_tree .
 *= require_self
 */

@import 'admin/variables';

html { font-family:$sansFontFamily; font-size:16px;}
a { color:inherit; text-decoration: none;}
.u-margin { margin-bottom:15px;}
.u-margin-2x { margin-bottom:30px;}
.u-intro { line-height:24px; font-size:14px; color:#888; }
.u-underline { text-decoration: underline;}
.u-align-right { text-align:right; }
