#= require reset

$sansSerifFont:  'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
  font-family: $sansSerifFont;
  font-size:16px;
}


//
// The main page container
//
.container {
  width:750px;
  margin:0 auto;
}

//
// The site header
//
.siteHeader {
  text-align:center;
  background:#2B3034;
  padding:120px 0;
  margin-bottom:50px;

  &.has-coverImage {
    background-size:cover;
    .siteHeader__title {
      text-shadow: 0 0 6px rgba(0,0,0,0.5);
    }
    .siteHeader__subTitle {
      color:#fff;
      text-shadow: 0 0 6px rgba(0,0,0,0.8);
    }
  }
}

.siteHeader__title {
  font-size:55px;
  letter-spacing:-0.05em;
  font-weight:700;
  color:#fff;
  margin-bottom:15px;
}

.siteHeader__subTitle {
  font-size:16px;
  width:80%;
  margin:auto;
  line-height:24px;
  color:#7e8890;
}

.siteHeader__logo {
  position:absolute;
  top:25px;
  right:25px;
  img {max-height:30px;}
}

//
// The site footer
//
.siteFooter {
  border-top:1px solid #efefef;
  padding:30px 0 80px 0;
  overflow: hidden;
  font-size:13px;
  margin-top:50px;
  .poweredBy {
    float:right;
    color:#999;
  }
}

//
// Footer navigation
//
.footerNav {
  li {
    float:left;
    margin-right:25px;
    a {
      color:#999;
    }
  }
}

//
// The current status of all services
//
.serviceList {
  border:3px solid #bfc8d0;
  border-radius:6px;
  overflow: hidden;
}

.serviceList__item {
  padding:13px 15px;
  overflow: hidden;
  border-bottom:1px solid #d7e2eb;
  &:nth-child(even) {
    background:#f6fbff;
  }
  &:last-child {
    border-bottom:0;
  }
}

.serviceList__name {
  float:left;
}

.serviceList__status {
  float:right;
}

//
// Ongoing issues
//
.ongoingIssues {
  margin-bottom:15px;
}

.issueBanner {
  background:#333;
  display:block;
  border-radius:6px;
  text-decoration: none;
  padding:13px 17px;
  color:#fff;
  margin-bottom:15px;
  &:last-child {margin-bottom:0;}

  &.issueBanner--investigating { background:#d13943;}
  &.issueBanner--identified { background:#d13980;}
  &.issueBanner--monitoring { background:#399dd1;}
  &.issueBanner--maintenance { background:#14a87c;}
  &.issueBanner--maintenanceUpcoming { background:#fff7d6; color:#aaa686;}

}

.issueBanner__state {
  float:right;
  font-weight:600;
  font-size:12px;
}

.issueBanner__time {
  font-size:12px;
  opacity:0.7;
}

//
// Sub heading
//
.subHeading {
  font-size:20px;
  margin-bottom:15px;
  font-weight:600;
  color:#2B3034;
}
