#= require reset

$sansSerifFont:  'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$investigatingColor: #d13943;
$identifiedColor: #d13980;
$monitoringColor: #399dd1;
$resolvedColor: #6CBE07;

body {
  font-family: $sansSerifFont;
  font-size:16px;
}

//
// The main page container
//
.container {
  width:750px;
  margin:0 auto;
}

//
// The site header
//
.siteHeader {
  text-align:center;
  background:#2B3034;
  padding:150px 0 60px 0;
  margin-bottom:50px;
  &.has-coverImage {
    padding:260px 0 60px 0;
    background-size:cover;
    .siteHeader__title {
      text-shadow: 0 0 6px rgba(0,0,0,0.5);
    }
    .siteHeader__subTitle {
      color:#fff;
      text-shadow: 0 0 6px rgba(0,0,0,0.8);
    }
  }
}

.siteHeader__title {
  font-size:55px;
  letter-spacing:-0.05em;
  font-weight:700;
  color:#fff;
  margin-bottom:15px;
}

.siteHeader__subTitle {
  font-size:16px;
  width:80%;
  margin:auto;
  line-height:24px;
  color:#7e8890;
}

.siteHeader__logo {
  position:absolute;
  top:25px;
  right:25px;
  img {max-height:30px;}
}

//
// The site footer
//
.siteFooter {
  border-top:1px solid #efefef;
  padding:30px 0 80px 0;
  overflow: hidden;
  font-size:13px;
  margin-top:50px;
  .poweredBy {
    float:right;
    color:#999;
  }
}

//
// Footer navigation
//
.footerNav {
  li {
    float:left;
    margin-right:25px;
    a {
      color:#999;
    }
  }
}

//
// The current status of all services
//
.serviceList {
  border:3px solid #bfc8d0;
  border-radius:6px;
  overflow: hidden;
}

.serviceList__item {
  padding:13px 15px;
  overflow: hidden;
  border-bottom:1px solid #d7e2eb;
  &:nth-child(even) {
    background:#f6fbff;
  }
  &:last-child {
    border-bottom:0;
  }
}

.serviceList__name {
  float:left;
}

.serviceList__status {
  float:right;
}

//
// Ongoing issues
//
.ongoingIssues {
  margin-bottom:15px;
}

.issueBanner {
  background:#333;
  display:block;
  border-radius:6px;
  text-decoration: none;
  padding:13px 17px;
  color:#fff;
  margin-bottom:15px;
  &:last-child {margin-bottom:0;}

  &.issueBanner--investigating { background:$investigatingColor;}
  &.issueBanner--identified { background:$identifiedColor;}
  &.issueBanner--monitoring { background:$monitoringColor;}
  &.issueBanner--maintenance { background:#fff7d6; color:#77745e;}

}

.issueBanner__state {
  float:right;
  font-weight:600;
  font-size:12px;
}

.issueBanner__time {
  font-size:12px;
  opacity:0.7;
}

//
// Sub heading
//
.subHeading {
  font-size:20px;
  margin-bottom:15px;
  font-weight:600;
  color:#2B3034;
}

//
// A page header (i.e. the header on all pages but the homepage)
//
.pageHeader {
  padding:40px;
  background:#f9f9f9;
  border-bottom:1px solid #efefef;
  margin-bottom:50px;
}

.pageHeader__title {
  float:right;
  color:#999;
}

//
// A button
//
.button {
  border-radius:4px;
  padding:10px 20px;
  background:#fff;
  text-decoration: none;
  border:1px solid #ddd;
  color:#888;
  text-transform: uppercase;
  font-size:12px;
}

//
// Issue detail page
//
.issueDetail {
  overflow: hidden;
}

.issueDetail__title {
  font-size:35px;
  font-weight:700;
  letter-spacing:-0.02em;
  line-height:38px;
}

.issueDetail__date {
  font-size:13px;
  color:#999;
  margin-bottom:30px;
}

.issueDetail__services {
  background:#fff7d6;
  width:220px;
  float:right;
  font-size:13px;
  padding:15px 20px;
  border-radius:4px;
  margin-left:25px;
  p {
    font-weight:bold;
    margin-bottom:5px;
  }
  li {
    list-style:square;
    margin-left:16px;
  }
}

.issueUpdates {
  line-height:1.5;
}

.issueUpdates__update {
  margin-bottom:15px;
  padding-bottom:15px;
  border-bottom:1px dashed #ddd;
  &:last-child {
    border-bottom:0;
    margin-bottom:0;
    padding-bottom:0;
  }
}

.issueUpdates__text {
  margin-bottom:5px;
}

.issueUpdates__meta {
  font-size:12px;
  color:#888;
}

.issueUpdate__state--investigating { color:$investigatingColor;}
.issueUpdate__state--identified { color:$identifiedColor;}
.issueUpdate__state--monitoring { color:$monitoringColor;}
.issueUpdate__state--resolved { color:$resolvedColor;}

